---
layout: textlay
---

<h1 class="mb-4">Meetings</h1>
<hr class="my-4">

<div class="posts">
    {% for post in paginator.posts %}
    <div class="post">
        <h2 class="post-title">
            {{ post.title }}
        </h2>

        <span class="post-date">{{ post.date | date_to_string }}</span>

        {{ post.content }}
    </div>
    <hr class="my-4">
    {% endfor %}
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <span class="page_number">{{ page }}</span>
    {% elsif page == 1 %}
    <a href="/meetings">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
</div>
{% endif %}