<footer class="footer mt-5 py-4">
	<div class="container text-white">
		<div class="row">
			<div class="col-sm-6">
				<p>&copy 2019-<script>document.write(new Date().getFullYear())</script> WhiteMech</p>
				<p>
					<a target="_blank" href='https://erc.europa.eu/projects-figures/erc-funded-projects/results?search_api_views_fulltext=whitemech'>ERC Advanced Grant (No. 834228)</a>
				</p>
				<p>
					<a href="mailto:whitemech@diag.uniroma1.it">whitemech@diag.uniroma1.it</a>
				</p>
			</div>
			<div class="col-sm-6">
				<a target="_blank" href="https://www.diag.uniroma1.it/en">Department of Computer, Control, and Management Engineering "Antonio Ruberti"</a> at <a target="_blank" href="https://www.uniroma1.it/en/pagina-strutturale/home">Sapienza University</a> (DIAG)<br />
				via Ariosto, 25<br />
				00185 - Rome, Italy
				(<a target="_blank" href="https://goo.gl/maps/JbBh3CEZEU9C9zsAA">Maps</a>)
			</div>
		</div>
	</div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
