<footer class="footer mt-5 py-4">
	<div class="container text-white">
		<div class="row">
			<div class="col-sm">
				&copy 2019-<script>document.write(new Date().getFullYear())</script> WhiteMech
				<br>
				<a target="_blank" href='https://erc.europa.eu/projects-figures/erc-funded-projects/results?search_api_views_fulltext=whitemech'>ERC Advanced Grant (No. 834228)</a>
				<br>
				<a href="https://github.com/whitemech" target="_blank"><i class="fa fa-github"></i> GitHub</a>

			</div>
			<div class="col-sm-6 text-center">
				<a target="_blank" href="https://www.diag.uniroma1.it/en">Department of Computer, Control, and Management Engineering "Antonio Ruberti"</a> at <a target="_blank" href="https://www.uniroma1.it/en/pagina-strutturale/home">Sapienza University</a> (DIAG)<br />
			</div>
			<div class="col-sm text-right">
				via Ariosto, 25<br />
				00185 - Rome, Italy
				(<a target="_blank" href="https://goo.gl/maps/JbBh3CEZEU9C9zsAA">Maps</a>)<br>
				<a href="mailto:whitemech@diag.uniroma1.it">whitemech@diag.uniroma1.it</a><br>
			</div>
		</div>
	</div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
