<nav class="navbar navbar-expand-lg navbar-dark sticky-top mb-5 py-4">
	<div class="container-lg">
		<a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">WhiteMech</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				{% assign current = page.url | downcase | split: '/' %}
				<li {% if current[1] == null %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
					<a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/"><i class="fa fa-th-large"></i> Home</a>
				</li>
				<li {% if current[1] == 'research' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
					<a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/research"><i class="fa fa-university"></i> Research</a>
				</li>
				<li {% if current[1] == 'people' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
					<a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/people"><i class="fa fa-users"></i> People</a>
				</li>
				<li {% if current[1] == 'publications' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
					<a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/publications"><i class="fa fa-file"></i> Publications</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
