<nav class="navbar navbar-expand-lg navbar-dark sticky-top mb-5 py-4">
	<div class="container-lg">
		<a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">WhiteMech</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav ml-auto">
				{% assign current = page.url | downcase | split: '/' %}
				<li {% if current[1] == null %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
					<a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/"><i class="material-icons-round">view_module</i> Home</a>
				</li>
				<li {% if current[1] == 'research' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
					<a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/research"><i class="material-icons-round">school</i> Research</a>
				</li>
				<li {% if current[1] == 'people' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
					<a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/people"><i class="material-icons-round">group</i> People</a>
				</li>
				<li {% if current[1] == 'publications' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
					<a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/publications"><i class="material-icons-round">list</i> Publications</a>
				</li>
				<li {% if current[1] == 'hiring' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
				<a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/hiring"><i class="material-icons-round">business_center</i> Hiring</a>
				</li>
				<li {% if current[1] == 'contacts' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
				<a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/contacts"><i class="material-icons-round">business</i> Contacts</a>
				</li>
				<li {% if current[1] == 'media' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
				<a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/media"><i class="material-icons-round">share</i> Media</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
