/* Footer */
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.container {
    flex: 1 0 auto;
}
.footer {
    background-color: #802433;
    flex-shrink: 0;
}
.footer a {
    color: white;
}

/* Navbar */
.navbar {
    background-color: #802433;
}
.navbar .navbar-brand {
    color: rgb(255, 255, 255);
}
.navbar .navbar-nav .nav-link {
    color: rgba(219, 219, 219, 0.50);
}
.navbar .navbar-nav .nav-item .nav-link .active {
    color: rgb(255, 255, 255);
}
.navbar .navbar-nav .nav-item:focus .nav-link {
    color: rgb(255, 255, 255); !important;
}
.navbar .navbar-nav .nav-item:hover .nav-link {
    color: #ffffff; !important;
}

/* Custom Color anchors */
.main a {
    color: #802433;
}
.main a:hover {
    color: rgba(128, 36, 51, 0.8);
}

/* Team & Publications */
#pubid img { margin: 0px 0px 0px 0; border-radius:10%;}
/*#gridid img { margin: 16px 22px 6px 0;  }*/
/*#gridid .row { margin-bottom: 24px; }*/
#gridid p {
    margin-bottom: 0;
}

#homeid .jumbotron {
    background: rgba(128, 36, 51, 0.2);
}
#homeid .jumbotron .btn-custom{
    background-color: #802433;
    color: white;
}
#homeid .jumbotron .btn-custom:hover{
    background-color: rgba(128, 36, 51, 0.8);
}

/* Align Material Icons */
.navbar i { vertical-align: middle !important; }

/* Customize Bibbase */
.bibbase_paper_title a {
    pointer-events: none;
}
.dropdown {
    margin-right: 2rem;
}
.dropdown li{
    width: 180px;
    margin-left: 12px;
}
.bibbase > pre {
    border: solid #802433 0.15rem;
    border-radius: 0.25rem;
}

/* Custom iframe Google Maps (/contacts page)*/
.iframe-rwd  {
    position: relative;
    padding-bottom: 30%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.iframe-rwd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Mobile */
@media only screen and (max-width: 768px) {
    .sapienza-logo {
        text-align: center;
    }
    .sapienza-logo img {
        width: 40%;
    }
}

