---
layout: post 
title: "Certified learning, or learning for verification?"
---

**When**:  Thursday, March 24, 2022, 3pm (CET).

**Where**: Zoom online, check the address in the Google Calendar Event.

**Topic**: Certified learning, or learning for verification? 

**Speaker**: [Prof. Alessandro Abate](https://www.cs.ox.ac.uk/people/alessandro.abate/home.html), Professor of Verification and Control in the Department of Computer Science at the University of Oxford.

#### Abstract

We are witnessing an increased, inter-disciplinary convergence between areas underpinned by model-based reasoning and by data-driven learning.  Work across these areas is not only scientifically justified, but also motivated by industrial applications where access to information-rich data has to be traded off with a demand for safety criticality: cyber-physical systems are exemplar applications. 

In this talk, I will report on ongoing initiatives in this cross-disciplinary domain. According to the dual perspective in the title of this talk, I will sketch, on the one hand, results where formal methods can provide certificates to learning algorithms, and on the other hand, results where learning can bolster formal verification and strategy synthesis objectives. 


#### Short Bio

Alessandro Abate is Professor of Verification and Control in the Department of Computer Science at the University of Oxford. Earlier, he did research at Stanford University and at SRI International, and was an Assistant Professor at the Delft Center for Systems and Control, TU Delft. He received a Laurea degree from the University of Padova and MS/PhD at UC Berkeley.  

His research interests lie on the analysis, formal verification, and control theory of heterogeneous and complex dynamical models – in particular of stochastic hybrid systems – and in their applications in cyber-physical systems (particularly involving safety-critical applications, energy, and biological networks). He blends in techniques from machine learning and AI, such as Bayesian inference, reinforcement learning, and game theory.


#### Material

- [Video (restricted access)](https://uniroma1.zoom.us/rec/share/2H-3S-mCo1w4kzTIfF9Zo1k8EzdgroQYj-0cYp80cD6nlbGA45cSuXHP669EH0v0.nXIEvIyaPxVvVZ62?startTime=1648130972000)